html, body {
  cursor: none !important;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.cursor,
.cursor2 {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

.cursor {
  height: 4px;
  width: 4px;
  background: #f1c40f;
  margin-left: -2px;
  margin-top: -2px;
  border-radius: 50%;
  z-index: 99999;
}

.cursor2 {
  height: 36px;
  width: 36px;
  margin-left: -18px;
  margin-top: -18px;
  z-index: 99998;
  transition: all 0.3s ease-out;
}

.cursor2 {
  background: rgba(241, 196, 15,.1);
  box-shadow: 0 0 14px rgba(241, 196, 15, 0.3);
  border: 1px solid rgba(241, 196, 15, 0.3);
}

.section-number {
  position: absolute;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
  opacity: 0.2;
}

.heading--r,
.heading--l {
  position: absolute;
  writing-mode:vertical-lr;
  top: 0;
  letter-spacing: 5px;
}

.heading--r {
  right: 0;
}

.heading--l {
  left: 0;
}

@media screen and (max-width: 992px) {
  #forest-wrap::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 20px;
    width: 100%;
    background: #062D36;
  }
}

@media screen and (min-width: 1200px) {
  .heading--l {
    padding-left: 0.75rem;
  }
}

@keyframes hover {
  0% {
    opacity: 0.7;
    transform: scale3d(0.8, 0.8, 1) translate3d(-10%, -5%, 0);
  }
  100% {
    opacity: 1;
    transform: scale3d(1.2, 1.2, 1) translate3d(20%, 33%, 0);
  }
}

@keyframes bob {
  0% {
    transform: translate3d(0%, -5%, 0);
  }
  100% {
    transform: translate3d(0%, 5%, 0);
  }
}